body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.suab-image {
    background-size: contain !important;
    background-color: #fff;
}

.project-img-real {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 保证图片完整显示 */
    border-radius: 10px;
    background: #fff; /* 可选，填充空白 */
    display: block;
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}